:root{
    --primary-color:#005f73;
    --secondary-color:#0a9396;
    --accent1-color:#001219;
    --accent2-color:#94d2bd;

    --heading-font:Georgia, serif;
    --body-font:Arial, Helvetica, sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:var(--body-font);
    color:var(--accent1-color);
}

header,
main,
footer{
    width:840px;
    margin:0 auto;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

header img{
    width:120px;
}

nav{
    display:flex;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:var(--secondary-color);
    font-weight:bold;
}

h1,
h2{
    font-family:var(--heading-font);
    color:var(--primary-color);
}

nav,
p,
section,
article{
    margin:16px;
    padding:8px;
}

.hero{
    position:relative;
}

.hero img{
    display:block;
    width:100%;
    height:auto;
}

.hero h1{
    position:absolute;
    top:20px;
    width:100%;
    text-align:center;
    padding:16px;
    background:rgba(0,0,0,.6);
    color:white;
}

.hero article{
    position:absolute;
    bottom:20px;
    left:20px;
    right:20px;

    background:var(--accent2-color);
}

.hero article img{
    float:right;
    width:125px;
    margin-left:15px;
    border-radius:10px;
}

footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:20px;
    padding:20px;
}

.socialmedia{
    display:flex;
    gap:15px;
}

.socialmedia a{
    text-decoration:none;
}

.socialmedia img{
    width:35px;
}